.cont {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .cont {
    height: 500px;
  }
}

@media screen and (max-width: 900px) {
  .cont {
    flex-direction: column;
    height: auto;
  }
}