{
  "presets": ["next/babel"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "yaml", "typescript", "ts"],
      "plugins": ["line-numbers", "normalize-whitespace"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}