.cont {
  width: 40%;
}

.heading {
  max-width: 400px;
}

.text {
  margin-top: 120px;
}

.getStartedButton {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
   .cont {
     width: 60%;
     padding-right: 40px;
   }
}

@media screen and (max-width: 900px) {
  .cont {
    width: 100%;
    padding-right: 0;
    padding-bottom: 60px;
  }
}