.navGroup {
  margin: 13px 10px 0 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menuItems {
  display: flex;
  flex-direction: column;
}